/* :root {
} */

body {
  font-family: "ExpoArabic";
  width: 100vw;
  height: 100vh;
  background-color: #060735 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../src/assets/Itim-Ubuntu/Ubuntu/Ubuntu-Light.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../src/assets/Itim-Ubuntu/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../src/assets/Itim-Ubuntu/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 900;
}
